<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Torneio do Poder</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>

<h1>Cadastro de Planetas!</h1>

<form action="#"
      method="post"
      th:action="@{/register}"
      th:object="${planet}">

    <input placeholder="Nome do Planeta"
           id="name"
           th:field ="*{planetName}" />
    <br>
    <br>
    <input placeholder="Localização da Planeta"
           id="location"
           th:field ="*{location}" />
    <br>
    <br>
    <input placeholder="Governante do Planeta"
           id="ruler"
           th:field ="*{ruler}" />
    <br>
    <br>
    <input placeholder="Maior vencedor da arena"
           id="topScorer"
           th:field ="*{topScorer}" />
    <br>
    <br>
    <input type="submit" value="Salvar"/>

</form>

</body>
</html>